{% extends 'base.html'%} {% import 'macros.html' as macro %}

{% block styles%} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/movie.css')}}"> {% endblock %} <!-- uses movie.css as stylesheet -->
<!-- Content block -->
{% block content %}
<div class="container">

  <!-- Poster background -->
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 posterPath" style="background: url({{movie.poster}}) no-repeat center center">
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 movie-details">
      <h3>{{ movie.title }}</h3> <!--fills with movie title -->

      <p class="overview"> {{ movie.overview }}</p> <!-- fills with movie overview -->

      <p class="ratings"> <b> {{ movie.vote_average }}</b> - <i>{{ movie.vote_count}} votes </i> </p> <!--shows votes (tmdb) -->
      <a class="ratings" href="/movie/review/new/{{movie.id}}"> Write a new review</a> <!-- write review -->


    </div>


  </div>

  <div class="row">

    <h1>Reviews</h1>
    <hr> {% if reviews %} {{macro.displayReviews(reviews)}} {% else %} <!-- if there are reviews for movie, show them -->
    <h3 class="text-center">This movie has no reviews </h3> <!-- if no reviews, display -->

    <a class="btn btn-success btn-lg text-center" href="/movie/review/new/{{movie.id}}"> Write a new review</a> {% endif %}

  </div>

</div>
{% endblock %}
